<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Księgarnia</title>
    <link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>
<div id="logo">

</div>
<div id="user-menu">
    <a href="/basket" id="basket-button"></a>
    <a href="/login" id="login-button"></a>

</div>
<div id="finder">
    <form method="POST" action="/find">
        <input type="text" placeholder="Szukaj">
        <input type="submit" value="Szukaj">
    </form>
</div>
<div id="menu">
    <a href="/cooking">Gotowanie</a>
    <a href="/baking">Pieczenie</a>
</div>
<div id="content">

</div>
</body>
</html>